{% style %}
  .scroll-left {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100vw;
      height: 100%;
      background: {{ section.settings.autoplay-bg }};
      overflow-x: hidden;
      border-right: none;
      border-left: none;
  }

  .scroll-left div {
		padding-top: 1rem;
  	min-width: 600px;
  	min-height: 20px;
  	border: none;
		font-family: var(--font-body-family);
		display: flex;
		margin-right: 0;
		letter-spacing: -0.06rem;
		text-align: center;
		/* Starting position */
		-moz-transform:translateX(100%);
		-webkit-transform:translateX(100%);
		transform:translateX(100%);
		/* Apply animation to this element */
		-moz-animation: scroll-left 30s linear infinite;
		-webkit-animation: scroll-left 30s linear infinite;
		animation: scroll-left 30s linear infinite;
    gap: 40px;
  }

  .announcement-bar__message.h5{
    display: flex;
    gap: 70px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    font-family: 'Lexend', sans-serif;
  }

	/* Move it (define the animation) */
	@-moz-keyframes scroll-left {
		0%   { -moz-transform: translateX(100%); }
		100% { -moz-transform: translateX(-100%); }
	}

	@-webkit-keyframes scroll-left {
		0%   { -webkit-transform: translateX(100%); }
		100% { -webkit-transform: translateX(-100%); }
	}

	@keyframes scroll-left {
		0%   {
			-moz-transform: translateX(100%); /* Browser bug fix */
			-webkit-transform: translateX(100%); /* Browser bug fix */
			transform: translateX(100%);
		}
		100% {
			-moz-transform: translateX(-100%); /* Browser bug fix */
			-webkit-transform: translateX(-100%); /* Browser bug fix */
			transform: translateX(-100%);
		}
	}
{% endstyle %}

<div class="scroll-left">
  {% for i in (1..999) %}
      <div class="announcement-bar__message h5">
        <span>{{ section.settings.text }}</span>
        <span>{{ section.settings.text_2 }}</span>
      </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Autoplay Text by Turbo",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Texto",
      "default": "REEMBOLSO 100% GARANTIDO"
    },
    {
      "type": "text",
      "id": "text_2",
      "label": "Texto",
      "default": "FRETE GRÁTIS PARA ASSINATURAS E COMPRAS ACIMA DE R$150"
    },
    {
      "type": "color",
      "id": "autoplay-bg",
      "label": "Cor de fundo",
      "default": "#2790d4"
    }
  ],
  "presets": [
    {
      "name": "Autoplay Text Turbo"
    }
  ]
}
{% endschema %}
