<style>

    .hero-banner-container {
        display: flex;
        flex-direction: columns;
    }

</style>

<div class=hero-banner-wrapper>
    <div class=hero-banner-container>
        <div class="hero-banner-blocks">
            <img src="{{ block.settings.hero_banner_image | image_url: width: 1200 }}" width="" height="" loading="lazy">
        </div>
        <div class="hero-banner-blocks">
            <div class="hero-banner-content">
                <h2>COMBINAÇÃO FEITA NOS CÉUS</h2>
                <h2>ÁGUA LIMPA & SUA PELE</h2>
                <p>Do que adianta gastar com inúmeros cremes se a água que você limpa seu rosto está suja? Faça a melhor escolha para sua pele.</p>
                <p>LUNCHING PROMO: 15%OFF com o código ÁGUALIMPA.</p>
                <button>SHOP NOW</button>
            </div>    
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Hero Banner",
  "settings": [
    {
        "type": "image_picker",
        "id": "hero_banner_image",
        "label": "Imagem"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}